@font-face {
   font-family: appleKid;
   src: url('./orange kid.ttf') format('truetype');
}

html{
	background-color: #a4dcf9;
	font-family: appleKid;
	height: 90%;
}

body{
	height: 100%;
}

p{
	line-height: 93.75%;
}

a:link, a:visited { 
    color: white;
    text-decoration: none;
    cursor: auto;
}

h2{
	text-shadow: 5px 5px 0px #a5c665;
	-webkit-margin-before: 0.3em;
	margin-top: 0.3em;
}

#menu{
	color: white;
	float: left;
	width: 100%;
	height: 67.447916667%;
}

#name{
	color: #e1ffa8;
	width: 100%;
	float: left;
	text-align: center;
}

.sidePad{
	float:left;
}

#bottomPad{
	width: 100%;
	height: 4.947916666%;
	float: left;
}

#menuBox{
	position: relative;
	display: block;
	height: 100%;
	width: auto;
	margin: 0% auto;
}

.inside{
	position: absolute;
	top: 33%;
	left: 42%;
}

.arrow{
	position: absolute;
	top: 33%;
	left: 42%;
	height: 100%;
	width: auto;
}

.arrowh{
	visibility: hidden;
}