html, body {
    background-color: #0000FF;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    background-image: url("checked.jpg");
}

.main {
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    margin: 0 auto 0;
}

a {
     text-decoration: none;
}

.link {
     font-size: 30px;
     text-align: center;
     text-transform: uppercase;
}

.navi{
     line-height: 20px;
     float: left;
     color: #545454;
     background-color: #ffffff;
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
     width: 200px;
     margin-right: 30px;
     text-align: center;
     border-radius: 2px 15px 7px 0px;
     height: 43vh;
     border-color: black;
}

#home{
    height:10vh;
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
}

#about{
    height:10vh;
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
}

#learning{
    height:10vh;
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
}

#intrests{
    height:10vh;
    border-style: solid;
    border-color: black;
    border-bottom-width: 7px;
    background-color: #ffffff;
}